# List - Default functions

In [1]:
l = [24, 16.5, "Prudhvidhar", [7, 2, 3]]
l

[24, 16.5, 'Prudhvidhar', [7, 2, 3]]

In [2]:
l.count(16.5)

1

In [5]:
l.append("Programmer")
l                                                                            # It appended the string Programmer thrice when I ran the same line of code thrice

[24, 16.5, 'Prudhvidhar', [7, 2, 3], 'Programmer', 'Programmer', 'Programmer']

In [6]:
l.remove("Programmer")
l                                                                               # Removed the string Programmer once

[24, 16.5, 'Prudhvidhar', [7, 2, 3], 'Programmer', 'Programmer']

In [12]:
l.index(16.5)

1

In [13]:
l.pop(3)

[7, 2, 3]

# Dictionary - Default functions

In [16]:
dit = {"Name" : "Chinna", "Age" : 7, "Class" : 2}
dit

{'Name': 'Chinna', 'Age': 7, 'Class': 2}

In [17]:
dit.get("Age")

7

In [18]:
dit.values()

dict_values(['Chinna', 7, 2])

In [19]:
dit.keys()

dict_keys(['Name', 'Age', 'Class'])

In [20]:
dit.update({"School" : "Sri Chaitanya School"})
dit

{'Name': 'Chinna', 'Age': 7, 'Class': 2, 'School': 'Sri Chaitanya School'}

In [21]:
dit.clear()
dit

{}

#  Set - Default functions

In [22]:
s = {2,2,3,1,9,8,5,5,5, "Ram", "Krithi"}
s

{1, 2, 3, 5, 8, 9, 'Krithi', 'Ram'}

In [23]:
s1 = {3, "Krithi"}
s1.issubset(s)

True

In [24]:
s1.intersection(s)

{3, 'Krithi'}

In [25]:
s1.difference(s)

set()

In [26]:
s1.add("Rishi")
s1

{3, 'Krithi', 'Rishi'}

In [28]:
s1.update([17, 21, "Lucky"])
s1

{17, 21, 3, 'Krithi', 'Lucky', 'Rishi'}

In [29]:
s

{1, 2, 3, 5, 8, 9, 'Krithi', 'Ram'}

In [30]:
s1

{17, 21, 3, 'Krithi', 'Lucky', 'Rishi'}

In [31]:
for i in s :
    print(i)

1
2
3
5
8
9
Ram
Krithi

#  Tuple - Default methods

In [32]:
t= (1, "Hello", 3.4)
t

(1, 'Hello', 3.4)

In [52]:
t= (1, "Hello", 3.4)
t.index(1)                                                    # Index

0

In [39]:
t=("mouse", [8, 4, 6], (1, 2, 3),9)                 # Nested tuple
t

('mouse', [8, 4, 6], (1, 2, 3), 9)

In [37]:
t[1:2]                                                      # Slicing

([8, 4, 6],)

In [51]:
t=("mouse", [8, 4, 6], (1, 2, 3),9)    
print("mouse" in t)                                   # in operation

True

In [43]:
del t                                                    # deletes entire tuple

# Strings - Default functions

In [55]:
str = "world of Python Programming"
str

'world of Python Programming'

In [54]:
str.capitalize()

'World of python programming'

In [56]:
str.encode()

b'world of Python Programming'

In [58]:
str.find("d")

4

In [59]:
str.upper()

'WORLD OF PYTHON PROGRAMMING'

In [60]:
str.isascii()

True